{% extends 'base.html.twig' %}
{% block body %}
</br></br></br></br></br></br>
    <span class="text-2xl font-extrabold"><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Great Weather for Rewards!</h1></span>
    <div>
   <a class="weatherwidget-io" href="https://forecast7.com/en/32d78n96d80/dallas/?unit=us" data-label_1="DALLAS" data-label_2="WEATHER" data-icons="Climacons" data-days="7" data-theme="clear" >DALLAS WEATHER</a>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
    </script></div>
     <span style="border-width: thin; border-color: #000038; border-style: solid;"><div>
   <a class="weatherwidget-io" href="https://forecast7.com/en/33d15n96d82/frisco/?unit=us" data-label_1="FRISCO" data-label_2="WEATHER" data-icons="Climacons" data-theme="desert" >FRISCO WEATHER</a>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
    </script></div></span>
    <span style="border-width: thin; border-color: #000038; border-style: solid;"><div>
    <a class="weatherwidget-io" href="https://forecast7.com/en/32d95n97d02/coppell/?unit=us" data-label_1="COPPELL" data-label_2="WEATHER" data-icons="Climacons" data-days="7" data-theme="original" >COPPELL WEATHER</a>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
    </script></div></span>
     <span style="border: 2px solid black;"><div>
    <a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/?unit=us" data-label_1="NEW YORK" data-label_2="WEATHER" data-theme="gray" >NEW YORK WEATHER</a>
<script>therwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/?unit=us" data-label_1="New York" data-label_2="WEATHER" data-theme="dark" >New York WEATHER</a>
    <script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
    </script></div></span></br></br>
      <div>
    <a class="weatherwidget-io" href="https://forecast7.com/en/41d9012d50/rome/?unit=us" data-label_1="ROME, ITALY for Maggiano's" data-label_2="WEATHER" data-icons="Climacons" data-days="7" data-theme="beige" >ROME, ITALY WEATHER</a>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
    </script></div>
    <span style="border-width: thin; border-color: #000038; border-style: solid;"> <div>
    <a class="weatherwidget-io" href="https://forecast7.com/en/38d1213d36/palermo/?unit=us" data-label_1="PALERMO SICILY" data-label_2="WEATHER" data-icons="Climacons" data-theme="sky" >PALERMO WEATHER</a>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
    </script></div>
{% endblock %}
