{% extends 'base.html.twig' %}

{% block title %}Loyalty Rewards{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #f5f5f5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   </br></br></br>
    <span class="text-2xl font-extrabold">Welcome to Loyalty Rewards!<span>
    <img src="{{ asset('images/image455.jpg') }}" alt="Rewards">
   <span class="text-2xl pl-2 text-lg"/> How it Works:</span>
<ul class="text-base">
    <li>Signup on the Loyalty Rewards</li>
    <li>Start getting rewards just for signing up</li>
    <li>Start earning points on purchases and receive a $5 reward for every 75 points earned ($1 = 1 point).</li>
    <li>Get rewarded for referring friends when they sign up for Loyalty Rewards</li>
    <li>Plus, get exclusive offers & new product news when you sign up.</li>
    <li>Best of all, skip the line and order ahead straight from the app!</li>
</ul>
</br>
<span class="text-2xl">Sign-up or login for Loyalty Rewards</span></br></br>

<a href="/login"
  class="px-6 py-3 text-blue-100 no-underline bg-blue-500 rounded hover:bg-blue-600 hover:underline hover:text-blue-200"style="background-color: #000038">LOGIN</a>
<a href="/register"
  class="px-6 py-3 text-blue-100 no-underline rounded  hover:bg-blue-600 hover:underline hover:text-blue-200" style="background-color: #77951e">SIGNUP</a>
</div>
{% endblock %}
